<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.kermeta.debug.runConfiguration">
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_CLASSQNAME" value="root_package::Main"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_FILENAME" value="/tp1/src/kermeta/chargeur.kmt"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_OPERATIONNAME" value="main"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_PROJECTNAME" value="tp1"/>
<stringAttribute key="org.kermeta.debug.DEFAULT_PATH" value="/tp1/src/kermeta"/>
<stringAttribute key="process_factory_id" value="org.kermeta.debug.processFactory"/>
</launchConfiguration>
